Source: ros-kinetic-thormang3-action-editor
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), libncurses5-dev, ros-kinetic-catkin, ros-kinetic-robotis-controller, ros-kinetic-robotis-controller-msgs, ros-kinetic-robotis-framework-common, ros-kinetic-roscpp, ros-kinetic-std-msgs, ros-kinetic-thormang3-action-module
Homepage: http://wiki.ros.org/thormang3_action_editor
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-action-editor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses5-dev, ros-kinetic-robotis-controller, ros-kinetic-robotis-controller-msgs, ros-kinetic-robotis-framework-common, ros-kinetic-roscpp, ros-kinetic-thormang3-action-module
Description: The thormang3_action_editor package This package is a action editor for thormang3.
 The action file which is edited by this editor will be used with this action editor.
