Source: ros-kinetic-thormang3-offset-tuner-server
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-robotis-controller, ros-kinetic-robotis-controller-msgs, ros-kinetic-roscpp, ros-kinetic-std-msgs, ros-kinetic-thormang3-base-module, ros-kinetic-thormang3-offset-tuner-msgs
Homepage: http://wiki.ros.org/thormang3_offset_tuner_server
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-offset-tuner-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cmake-modules, ros-kinetic-roscpp, ros-kinetic-std-msgs
Description: The offset_tuner_server package
